.App{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
  
    overflow: hidden;
    display: flex;
    position: relative;
    flex-direction: row;
}
.overlay{
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(202, 202, 202); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

 flex-direction: column;
 background-color: rgba(54, 52, 52, 0.5);
}
.type{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.select_ticker_header{
    width: 100%;
    height: 5%;
    display: flex;
    font-size: 110%;

    flex-direction: row;
}
.select_ticker_text{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    box-sizing: border-box;
}
.X{
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
}
.type_selected{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(164, 164, 164);
    color: black
}
.select_type{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: left;
    align-items: center;
    color:  white;
    /* padding-left: 25px; */
    /* border: 1px solid teal; */
    box-sizing: border-box;
    flex-direction: row;
}
.select_ticker{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: left;
    align-items: center;
    color:  white;
    /* padding-left: 25px; */
    /* border: 1px solid teal; */
    box-sizing: border-box;
    flex-direction: row;
}
.ticker_container{
    width: 100%;
    height: 90%;

    
    overflow: scroll;
    overflow: auto;
  scrollbar-width: none;     /* Firefox */
  -ms-overflow-style: none; 
  border-radius: 10px;
}
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
.ticker_selection_container{
    width: 1100px;
    max-width: 1100px;
    min-width: 1100px;
    height: 75%;
    background-color: #121212;
    opacity: 1;
    border-radius: 10px;
    overflow: hidden;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    color: rgb(214, 214, 214);

}
.ticker_container::-webkit-scrollbar {
    display: none;             /* Chrome, Safari */
  }
.menu{
    /* min-width: 100%; */
    width: 100%;
    /* max-width: 1200px; */
    height: 100%;
    /* border: 1px solid rgb(177, 119, 32); */
    box-sizing: border-box;
    background-color: #2c2c2c;
    display: flex;
    flex-direction: column;
    overflow: scroll;
     scrollbar-width: none;     /* Firefox */
  -ms-overflow-style: none; 
  /* border-radius: 10px; */
  justify-content: center;
    align-items: center;
    
}
.menu_inner{
    display: flex;

    width: 100%;
    height: 100%;
    border: 1px solid rgb(40, 44, 44);
    flex-direction: column;
  

}
.data_inner{
    display: flex;

    width: 100%;
    height: 100%;
    border: 1px solid rgb(35, 62, 62);
    /* border: 1px solid orange; */
    overflow: hidden;
    flex-direction: column;
      overflow: scroll;
     scrollbar-width: none;     /* Firefox */
    -ms-overflow-style: none; 
    /* border-radius: 10px; */
 /* background-color: #2c2c2c; */
    justify-content: right;
    align-items: right  ;

}
.data{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    width: 100%;
    height: 100%;
  
    box-sizing: border-box;
    /* background-color: #121212;; */
    background-color: #2c2c2c;


}
.con{
    width: 100%;
    height: 100%;
    background-color: black;
    box-sizing: border-box;
   
}
.candle_chart_container{
    box-sizing: border-box; 
    height: 100%;
    cursor:crosshair;
    width: 100%;
    display: flex;
    flex-direction: row;
     background-color: #121212;
}
.candle_chart_container_2{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    box-sizing: border-box; 
}
.candle_chart_wrapper{
    width: 97%;
    min-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
}
.canvas{
    width: 100%;
    /* max-height: 94%;
    min-height: 94%; */
    height: 96%;
    display: block;
    border-left: none;
    box-sizing: border-box;

    background-color: #151c20e0;
    position: relative;
    /* background: linear-gradient(to right, rgb(8, 20, 36), rgb(3, 22, 31), rgb(8, 20, 36), rgb(4, 5, 7)); */
}
.canvas_dates{
    /* min-height: 5%;
    max-height: 5%; */
    height: 4%;
    width: 100%;
    /* background-color: black; */
  
    /* border: 1px solid rgb(74, 13, 13); */
    box-sizing: border-box;
    /* background: linear-gradient(to right, rgb(8, 20, 36), rgb(3, 22, 31), rgb(8, 20, 36), rgb(4, 5, 7)); */
    background-color: #0e0e0e;
     /* background-color: #151c20e0; */
     background-color: #121212;
    display: flex;

}
.canvas_prices{

    width: 7%;
    background: linear-gradient(to right, rgb(8, 20, 36), rgb(3, 22, 31), rgb(8, 20, 36), rgb(4, 5, 7));
    height: 96%;
    display: flex;
    flex-direction: column;
    background: #111111;
    background: #6a6969;
    background-color: #151c20e0;
     background-color: #121212;
    
    
    max-width: 100px;
    
}
.header_slot{
    width: 100px;
    color: white;
    display: flex;
    border: 1px solid rgb(75, 75, 75);
    justify-content: center;
    align-items: center;

}
.header-bar{
    position: absolute; /* Position the header bar absolutely */
    top: 0; /* Place it at the top of the canvas container */
    left: 0; /* Align it to the left */
    width: 100%; /* Full width of the canvas container */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
    /* border: 2px solid orange; */
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.header_one{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_two{
    width: 80%;
    display: flex;
    justify-content: left;
    align-items: center;
    color: 'green'
}
.pricesb{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    height: 100%;
    border-top: none;
    border-bottom: none;
    margin: auto;
    /* border: 1px solid white; */
    justify-content: center;
    align-items: center;
    

}
.symbol_status{
    width: 100%;
    height: 60px;
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: row;

    
}
.symbol_status_selected{
    width: 100%;
    height: 60px;
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: row;
    color:  black;
    background-color: rgb(164, 164, 164);
    font-weight: bolder;
    
}

.symbol_status:hover{
    width: 100%;
    height: 60px;
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: row;
    color:  white;
    /* background-color: teal; */
    background-color: rgb(77, 80, 80)
}
.symbol_status1{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.symbol_status2{
    width: 60%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.symbol_status3{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.input_container{
    width: 100%;
    height: 5%;

    display: flex;
    justify-content: center;align-items: center;
    flex-direction: row;
    background-color: #121212;
    border-top: 1px solid rgb(72, 72, 72);
    border-bottom: 1px solid rgb(72, 72, 72);
 

}
.input_box {
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #121212;
    width: 80%;
    color: white;

  }
input:focus {
    outline: none;
    border: none;
}
.search_img_container{
    width: 10%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

@import url('https://fonts.googleapis.com/css2?family=Harmattan:wght@400;500;600;700&display=swap');
.abcd_row{
    width: 100%;
    min-height: 50px;
    border-bottom: 1px solid rgb(49, 49, 49);
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

    color: rgb(177, 177, 177);
    font-family: "Harmattan", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 115%;
    padding-left: 10px;
}
.abcd_row_selected{
    width: 100%;
    min-height: 50px;
    border-bottom: 1px solid rgb(49, 49, 49);
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

    color: rgb(177, 177, 177);
    font-family: "Harmattan", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 115%;
    padding-left: 10px;
    background-color: rgb(27, 44, 44);
}
.abcd_row:hover{
    width: 100%;
    min-height: 50px;
    border-bottom: 1px solid rgb(49, 49, 49);
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

    color: rgb(177, 177, 177);
    font-family: "Harmattan", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 115%;
    padding-left: 10px;
    background-color: rgb(66, 65, 65);
}
.abcd_column1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    /* color: gray; */
    box-sizing: border-box;
}
.abcd_column1_positive{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    /* color: gray; */
    box-sizing: border-box;
    color: rgb(37, 148, 148);
    font-weight: bold;
}
.abcd_column1_negative{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    /* color: gray; */
    box-sizing: border-box;
    color: rgb(159, 33, 33);
    font-weight: bold;
}
.abcd_header{
    width: 100%;
    min-height: 50px;
    border: teal;
    color:gray;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding-left: 10px;
    background-color: #121212;
}
.abcd_title{
    width: 100%;
    min-height: 75px;
    color: rgb(222, 219, 219);
    font-size: 150%;
    font-family: "Pixelify Sans", sans-serif;
    padding-left: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #121212;
    box-sizing: border-box;
}
.abcd_rows_container{

    width: 100%;
    height: 100%;
    /* border: 1px solid teal; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
        overflow: scroll;
     scrollbar-width: none;     /* Firefox */
    -ms-overflow-style: none; 
    /* border-radius: 10px; */
        background-color: rgb(26, 26, 26);
}